ws-rm/src/main/webapp/WEB-INF/HelloWorldService.wsdl

<wsdl:definitions name="HelloWorldService"
                  targetNamespace="http://www.jboss.org/jbossas/quickstarts/wshelloworld/HelloWorld"
                  xmlns:tns="http://www.jboss.org/jbossas/quickstarts/wshelloworld/HelloWorld"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsp="http://www.w3.org/2006/07/ws-policy"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified"
                   targetNamespace="http://www.jboss.org/jbossas/quickstarts/wshelloworld/HelloWorld"
                   xmlns:tns="http://www.jboss.org/jbossas/quickstarts/wshelloworld/HelloWorld" version="1.0">
            <xs:element name="sayHello" type="tns:sayHello"/>
            <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>
            <xs:element name="sayHelloToName" type="tns:sayHelloToName"/>
            <xs:element name="sayHelloToNameResponse" type="tns:sayHelloToNameResponse"/>
            <xs:element name="sayHelloToNames" type="tns:sayHelloToNames"/>
            <xs:element name="sayHelloToNamesResponse" type="tns:sayHelloToNamesResponse"/>
            <xs:complexType name="sayHello">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="sayHelloResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayHelloToNames">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayHelloToNamesResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayHelloToName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayHelloToNameResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sayHelloToNameResponse">
        <wsdl:part element="tns:sayHelloToNameResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHelloToNamesResponse">
        <wsdl:part element="tns:sayHelloToNamesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHelloToName">
        <wsdl:part element="tns:sayHelloToName" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHelloToNames">
        <wsdl:part element="tns:sayHelloToNames" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part element="tns:sayHelloResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHello">
        <wsdl:part element="tns:sayHello" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorldService">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:sayHello" name="sayHello">
            </wsdl:input>
            <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHelloToNames">
            <wsdl:input message="tns:sayHelloToNames" name="sayHelloToNames">
            </wsdl:input>
            <wsdl:output message="tns:sayHelloToNamesResponse" name="sayHelloToNamesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHelloToName">
            <wsdl:input message="tns:sayHelloToName" name="sayHelloToName">
            </wsdl:input>
            <wsdl:output message="tns:sayHelloToNameResponse" name="sayHelloToNameResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldServiceSoapBinding" type="tns:HelloWorldService">
        <wsp:Policy>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2006/05/addressing/wsdl"/>
            <wsrmp:RMAssertion xmlns:wsrmp="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"
                               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                               xsi:schemaLocation="http://schemas.xmlsoap.org/ws/2005/02/rm/policy http://schemas.xmlsoap.org/ws/2005/02/rm/wsrm-policy.xsd"/>
        </wsp:Policy>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHelloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHelloToNames">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHelloToNames">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHelloToNamesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHelloToName">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHelloToName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHelloToNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorldService">
        <wsdl:port binding="tns:HelloWorldServiceSoapBinding" name="HelloWorld">
            <soap:address location="http://localhost:8080/jboss-helloworld-ws/HelloWorldService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>